
html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

body {
    background: #fff;
    color: #666;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

a:hover {
    color: #eee;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}






.footer-box {
    background: #d6e1ef;
    overflow: hidden;
    width: 100%;
    color: #888;
   
}




.footer-links {
    padding-top: 40px;
    padding-left: 69px;
}

.footer-article-item {
    width: 209px;
    height: 226px;
    float: left;
    margin-right: 23px;
    line-height: 2;
    font-size: 14px;
}

.footer-article-item dt {
    color:black ;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 2;
    font-weight: 300;
}


.footer-article-item dd a:hover {
    color: #07416b;
}




.footer-ewm img {
    width: 110px;
    height: 110px;
    display: block;
    border: none;
}


.copyright{
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}

.copyright p {
    margin-bottom: 9px;
    font-size: 14px;
    color: #000000;
}
